.container {
  margin-top: 100px;
}

img {
  float: left;
  display: block;
}

p {
  font-size: 35px;
  font-weight: 500;
}
li {
  list-style-type: none;
}

span {
  color: gray;
  font-weight: 200;
}
.input {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 14px;
}

.current {
  display: block;
  float: inherit;
  margin: 25px;
}

.card-text {
  font-size: medium;
}

.card {
  padding: 5px;
  margin: 5px;
}

.dates {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.weather-app {
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  max-width: 835px;
}

.search-form {
  display: block;
  margin: 100px;
  padding: 100px;
}

.find-location {
  display: block;
  width: 200px;
  padding: 50px;
}

.current-temp {
  font-size: 35px;
  font-weight: 500;
  color: black;
}

.current-weather {
  background-color: rgb(78, 92, 214);
  color: white;
}

.currentTemp {
  font-size: 35px;
  font-weight: 500;
  color: black;
}
